:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --brown-dark: rgb(43, 40, 33);
  --brown-middle: rgb(98, 76, 60);
  --brown-light: rgb(217, 172, 139);
  --brown-lightest: rgb(227, 207, 180);
  --blue-dark: rgb(36, 61, 92);
  --green-middle: rgb(93, 114, 117);
  --sky-blue: rgb(92, 139, 147);
  --green-lightest: rgb(177, 165, 141);
  --red: rgb(176, 58, 72);
  --orange: rgb(212, 128, 77);
  --yellow: rgb(224, 200, 114);
  --green-dark: rgb(62, 105, 88);

  color-scheme: light dark;
  color: var(--brown-dark);
  background-color: var(--sky-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--green-middle);
  text-decoration: inherit;
}
a:hover {
  color: var(--yellow);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
  margin-top: 0;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--brown-dark);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--brown-light);
}
